<!-- <div class="d-flex flex-row justify-content-between my-4">
    <h1 class="common-title">Dashboard</h1>
</div>

<div class="chart-wrapper">
    <div class="row">

        <div class="col-lg-6 my-2">
            <mat-card>
                <div class="chart-wrapper">
                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                        [plugins]="lineChartPlugins">
                    </canvas>
                </div>
            </mat-card>
        </div>

        <div class="col-lg-6 my-2">
            <mat-card>
                <div class="chart-wrapper">
                    <canvas baseChart [datasets]="lineChartData1" [labels]="lineChartLabels1"
                        [options]="lineChartOptions1" [colors]="lineChartColors1" [legend]="lineChartLegend1"
                        [chartType]="lineChartType1" [plugins]="lineChartPlugins">
                    </canvas>
                </div>
            </mat-card>
        </div>


    </div>
    <div class="row ">
        <div class="col-lg-6 my-2">
            <mat-card>
                <div class="chart-wrapper">
                    <canvas baseChart [datasets]="lineChartData2" [labels]="lineChartLabels2"
                        [options]="lineChartOptions2" [colors]="lineChartColors2" [legend]="lineChartLegend2"
                        [chartType]="lineChartType2" [plugins]="lineChartPlugins2">
                    </canvas>
                </div>
            </mat-card> -->
<!-- </div>
        <div class="col-lg-6 my-2">
            <mat-card> -->
<!-- <div class="chart-wrapper">
                    <canvas baseChart [datasets]="lineChartData3" [labels]="lineChartLabels3"
                        [options]="lineChartOptions3" [colors]="lineChartColors3" [legend]="lineChartLegend3"
                        [chartType]="lineChartType3" [plugins]="lineChartPlugins3">
                    </canvas>
                </div>
            </mat-card> -->
<!-- </div>
    </div>
</div> -->
<!-- <div id="chart-container">
<canvas #myCanvas id="canvas" ></canvas>
</div> -->
<!-- <div #chartDiv id="initial_chart_div"></div> -->

<!-- <div class="chart-wrapper">

</div> -->

<mat-card class="m-4">
    <h2>Patient Vital - Charts (Last three visits)</h2>
</mat-card>
<div class="dashboard_chart ">
    <div class="row container-fluid">
        <div class="col-md-6">
            <mat-card> <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                    [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                    [chartType]="lineChartType" [plugins]="lineChartPlugins">
                </canvas>
                <span>&#8593;</span>
                <span>Weight in KG</span>
            </mat-card>

        </div>
        <div class="col-md-6">
            <mat-card>
                <canvas baseChart [datasets]="lineChartData1" [labels]="lineChartLabels1" [options]="lineChartOptions1"
                    [colors]="lineChartColors1" [legend]="lineChartLegend1" [chartType]="lineChartType1"
                    [plugins]="lineChartPlugins1">
                </canvas>
                <span>&#8593;</span>
                <span>Temperature in deg celsius</span>
            </mat-card>
        </div>
    </div>
    <br /><br />
    <div class="row container-fluid">
        <div class="col-md-6">
            <mat-card>
                <canvas baseChart [datasets]="lineChartData2" [labels]="lineChartLabels2" [options]="lineChartOptions2"
                    [colors]="lineChartColors2" [legend]="lineChartLegend2" [chartType]="lineChartType2"
                    [plugins]="lineChartPlugins2">
                </canvas>
                <span>&#8593;</span>
                <span>Pulse in bpm</span>
            </mat-card>
        </div>
    </div>
    <br /><br />
</div>