<div class="d-flex flex-row justify-content-between my-4">
    <h1 class="common-title">{{physicianinfoForm.value.firstName}}'s Information</h1>
    <button mat-raised-button color="primary" [routerLink]="['/physician-info', pId]" [queryParams]="{EditMode:true}">
        Edit Info</button>
</div>
<mat-card class="">
    <form [formGroup]="physicianinfoForm">
        <div class="row">
            <div class="col-md-3 d-flex flex-column">
                <img src="../../../assets/images/doc.png" alt=""
                    style="width:150px;height:150px;margin-right:auto;margin-left:auto">

                <!-- <input type="file" name="file" class="inputFile mt-2" (change)="onFileSelected($event)" *ngIf="editMode" > -->
            </div>
            <div class="col-md-9 ">
                <div class="row">
                    <div class="col-md-4">
                        <div *ngIf="!editMode" class="card-field"><strong>First Name:</strong>
                            {{physicianinfoForm.controls['firstName'].value}}</div>
                        <mat-form-field appearance="fill" class="mx-2" *ngIf="editMode">
                            <mat-label><strong> Name </strong></mat-label>
                            <input matInput placeholder="Placeholder" formControlName="firstName">
                        </mat-form-field>

                    </div>

                    <div class="col-md-4">

                        <div *ngIf="!editMode" class="card-field"> <strong>Last Name:</strong>
                            {{physicianinfoForm.controls['lastName'].value}}</div>
                        <mat-form-field appearance="fill" class="mx-2" *ngIf="editMode">
                            <mat-label><strong>Last Name:</strong></mat-label>
                            <input matInput placeholder="Placeholder" formControlName="lastName">
                        </mat-form-field>
                    </div>

                    <div class="col-md-4">
                        <div *ngIf="!editMode" class="card-field"> <strong>Email: </strong>{{physicianinfoForm.controls['email'].value }}
                        </div>
                        <mat-form-field appearance="fill" class="mx-2" *ngIf="editMode">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="email">
                        </mat-form-field>
                    </div>

                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div *ngIf="!editMode" class="card-field"> <strong>Date of
                            Birth:</strong>{{physicianinfoForm.controls['dob'].value | date: 'DD/MM/YYYY'}}</div>
                        <mat-form-field appearance="fill" class="mx-2" *ngIf="editMode">
                            <mat-label><strong>Date of Birth</strong></mat-label>
                            <input matInput placeholder="Placeholder" formControlName="dob" [max]="maxDate">
                        </mat-form-field>
                    </div>

                    <div class="col-md-4">

                        <div *ngIf="!editMode" class="card-field"> <strong>Contact No:</strong>
                            {{physicianinfoForm.controls['phone'].value}}</div>
                        <mat-form-field appearance="fill" class="mx-2" *ngIf="editMode">
                            <mat-label>Contact No:</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="phone">
                        </mat-form-field>
                    </div>



                    <div class="col-md-4">
                        <div *ngIf="!editMode" class="card-field"><strong>Address:</strong>
                            {{physicianinfoForm.controls['address'].value}}</div>
                        <mat-form-field appearance="fill" class="mx-2" *ngIf="editMode">
                            <mat-label>Address</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="address">
                        </mat-form-field>
                    </div>
                </div>
                <div class="d-flex justify-content-end" *ngIf="editMode">
                    <button mat-raised-button color="primary" class="mx-2" (click)="onDiscard()">Discard</button>
                    <button mat-raised-button color="primary" (click)="updateUserData()">Save Profile</button>
                </div>



            </div>
        </div>
    </form>
</mat-card>