

<div class="loginclass">
    
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

  <div class="example-container">

    <mat-form-field>

      <input matInput placeholder="Email" formControlName="email">

    </mat-form-field>



    <mat-form-field>

      <input matInput type="password" placeholder="Password" formControlName="password">    

    </mat-form-field>

<br>

    <button 
    [disabled]="!loginForm.valid" mat-raised-button color="primary" mat-button class="btnclass">Sign In</button>
    <br>
    <span><a href="./auth/registration">Not a Member yet? </a></span>
  </div>

</form>
</div>
