.form-container{
  display:block;
  max-width: 350px;
  margin: auto;
  background: #fbfdfd;;
  padding: 48px;
  border-radius: 16px;
  margin-top: 100px;
}
mat-form-field {
  width: 100%;
}


.center {
display: flex;
justify-content: center;
}

.margin-top {
margin-top: 16px !important;
}

.text-center {
text-align: center;
}
.mat-icon {
  font-size: 14px;
  color:grey
}
