<app-header></app-header>
<div class="container-fluid content-area pl-0" >
    <button class="toggleMenu btn" (click)="showMeFun()"><i class="fas fa-bars text-white"></i></button>
    <div class="row" >
        <div class="sidebar" *ngIf="showMe" style="padding-left: 0;">
            <app-side-navbar>
     
            </app-side-navbar>

        </div>
        <div class="layout" [ngClass]="showMe
        ? 'layout'
        : 'layout1' ">
            <router-outlet></router-outlet> 
            
        </div>    
    </div>
</div>

   