<div class="d-flex flex-row justify-content-between my-4">
	<h1 class="common-title">Patient Portal Manual</h1>
</div>
<mat-card class="top-panel my-2">
  <p>
    The User Manual contains all essential information for the user to
    make full use of the PATIENT PORTAL APPLICATION.  This manual includes a
    description of the system functions and capabilities and step-by-step procedures for
    system access and use.  

  </p>
</mat-card>
<!-- <mat-card > -->
    <div class="row" style="align-items: center;">
      <div class="col-md-8 col-sm-12 my-2">
        <!-- <youtube-player
        videoId="Hiskr0BSMsc"
        suggestedQuality="highres"
 
        [startSeconds]="0"
        [endSeconds]="200" >
      </youtube-player> -->
      <iframe class="yt_video" width="560" height="315" src="https://www.youtube.com/embed/Hiskr0BSMsc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-md-4 download_ my-2">
        <a href="../../../../assets/files/patient_manual.docx" download="patient_manual.docx" target="_blank">
         Download Patient Portal Manual 
          <br>
          <mat-icon aria-hidden="false" aria-label="Example home icon">download</mat-icon>
        </a>
      </div>
    </div>
<!-- </mat-card> -->

<!-- 
\src\assets\files\patient_manual.docx
\src\app\patient\patient\patient-education\patient-education.component.html -->