<mat-card class="top-panel">
  <h2>Patient Portal Manual</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Et fugiat maiores quas, odio consequuntur, vitae inventore iste doloribus facilis
    molestias labore? Possimus animi obcaecati excepturi itaque nesciunt adipisci
    quos illo? 
    <br /><br />
    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Exercitationem deserunt iusto aperiam reprehenderit saepe omnis, sit quisquam esse
    quis architecto voluptatibus voluptas debitis consequuntur, obcaecati incidunt
    doloribus illum, perferendis natus.</p>
</mat-card>

<mat-grid-list cols="3" >
  <mat-grid-tile colspan="2">
    <youtube-player 
      videoId="Hiskr0BSMsc"
      suggestedQuality="highres"
      [height]="300"
      [width]="600"
      [startSeconds]="0"
      [endSeconds]="200">
    </youtube-player>
  </mat-grid-tile>
  <mat-grid-tile colspan="1"><a href="../../../../assets/files/patient_manual.docx" download="patient_manual.docx">
      <h3>Download Patient Portal Manual </h3>
      <br>
      <mat-icon aria-hidden="false" aria-label="Example home icon">download</mat-icon>
    </a></mat-grid-tile>
</mat-grid-list>

<!-- 
\src\assets\files\patient_manual.docx
\src\app\patient\patient\patient-education\patient-education.component.html -->