<p>side-nav-bar works!</p>
<div class="adminsidebar">
    <ul>
        <li>
            <a routerLink='/dashboard'>Dashboard</a>
        </li>
        <li>
            <a routerLink='/managepatientrecords'>Manage Patients Records</a>
        </li>
        <li>
            <a routerLink='/managephysicianrecords'>Manage Physicians Records</a>
        </li>
        <li>
            <a routerLink='/manageappontment'>Manage Appointments</a>
        </li>
        <li>
            <a routerLink='/billing'>Billing</a>
        </li>
       
    </ul>
</div>