<div class="adminsidebar">
    <ul>
        <li>
            <a [routerLink]="['./dashboard']">Dashboard</a>
        </li>
        <mat-divider></mat-divider>
        <li>
            <a [routerLink]="['./managepatientrecords']">Manage Patients Records</a>
        </li>
        <mat-divider></mat-divider>
        <li>
            <a [routerLink]="['./managephysicianrecords']">Manage Physicians Records</a>
        </li>
        <mat-divider></mat-divider>
        <li>
            <a [routerLink]="['./manageappontment']">Manage Appointments</a>
        </li>
        <mat-divider></mat-divider>
        <li>
            <a [routerLink]="['./billing']">Billing</a>
        </li>

    </ul>
</div>