<app-header></app-header>
<div class="physician-container">
  <div class="physician-sidebar">
    <app-physician-sidebar></app-physician-sidebar>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1>Physician Dashboard</h1>
        </div>
        <div class="col-lg-6">
          <!-- <button class="btn" mat-raised-button color="primary"> -->
            <a href="https://us04web.zoom.us/j/74231158584?pwd=hXCKErAvVo9xmLfOoznJxfw4U1qfrD.1" class="btn" mat-raised-button color="primary" target="_blank">Join online Consultation</a>
          <!-- </button> -->
        </div>
      </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="d-flex">
          <mat-card class="demo-inline-calendar-card">
            <mat-calendar [(selected)]="selected"></mat-calendar>
          </mat-card>
          <p>{{ selected }}</p>
        </div>
      </div>
    
    <div class="col-lg-6">
      <div class="chart-wrapper">
        <canvas class="chartline"
          baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
        >
        </canvas>
      </div>
      </div>
    </div>
  </div>
</div>

