.spacer{
    flex: 1 1 auto;
}

.mat-toolbar a:hover
{
    border-radius: 3px;
    background: rgb(13 32 171);;
}
.mat-toolbar, span{
    font-family: "Circular Std Book",sans-serif;
    fill: rgb(7, 81, 140);
}