
<div class="container px-5">
<mat-card>
<form [formGroup]="appointmentForm">
<h1 mat-dialog-title><strong>Add Event</strong> </h1>

    <div class="row">
      <div class="col-md-12">
      <div mat-dialog-content> 
        <mat-form-field appearance="fill" [style.width.%]="100">
            <mat-label>Meeting Title</mat-label>
            <input matInput placeholder="Placeholder" formControlName="Subject">      
        </mat-form-field>
      </div> 
    </div>
 </div>
 <div class="row">
    <div class="col-md-6   ">
         <mat-form-field appearance="fill">
        <mat-label>Physician</mat-label>
        <mat-select matInput placeholder="Placeholder" formControlName="selectphysician">
          <mat-option *ngFor="let dname of dnames" [value]="dname.value" >{{dname.viewValue}}</mat-option>
          
        </mat-select>
    </mat-form-field>
    </div>
  
  
    <div class="col-md-6">
        <mat-form-field appearance="fill">
        <mat-label>Add discription</mat-label>
        <input matInput placeholder="Placeholder" formControlName="discription">      
        </mat-form-field>
    </div>
  </div>
  <div class="row">
   
  

  <div class="col-md-6">
    <ejs-datetimepicker #ejDateTimePicker formControlName="StartTime" name="StartTime" [placeholder]='placeholder'
      floatLabelType='Auto'>
    </ejs-datetimepicker>
    </div><div class="col-md-6">
      <ejs-datetimepicker #ejDateTimePicker formControlName="EndTime" name="EndTime" [placeholder]='placeholder'
        floatLabelType='Auto'>
      </ejs-datetimepicker>
      </div>


</div>
<mat-dialog-actions>
<button mat-raised-button mat-dialog-close  color="primary" mat-dialog-close="false" style="margin-right:10px">Cancle</button>
<button mat-raised-button mat-dialog-close color="primary" mat-dialog-close="true" style="margin-right:10px" (click)="onEvent()">Add</button>
</mat-dialog-actions>

</form>
</mat-card>
</div>


