<div class="d-flex flex-row justify-content-between my-4">
  <h1>Appointment Details</h1>
  <button mat-raised-button color="primary" (click)="goBack()">Back</button>
 
</div>
<mat-card>
  <div class="row">
    <div class="col-md-4 p-3"><strong>Appointment Date:</strong> {{appointmentDetail.StartTime | date:"MM/dd/yy"}}</div>
    <div class="col-md-4 p-3"><strong>Physician Detail:</strong> {{appointmentDetail.selectphysician}}</div>
    <div class="col-md-4 p-3"><strong>Status: </strong>{{appointmentDetail.status}}</div>
  </div>
  <div class="row">
    <div class="col p-3">
    <strong>
      Description: </strong><br/>
      {{appointmentDetail.discription}}
    </div>
  </div>
</mat-card>
