<!-- 
<div >
    <form  [formGroup]="demographicForm">
     
  
      <mat-form-field >
        <input matInput formControlName="name" placeholder="Simple placeholder" required>
      </mat-form-field>
  
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </form>
  

  
  </div>
  
   -->


   <!-- <mat-card>
	<div class="container">
    <span mat-card-title>Registration</span>
		<div fxLayout="row" fxLayoutAlign="center">
			<form novalidate>
				<div fxLayout="column">
					<mat-form-field>
						<input type="text" matInput autocomplete="off" placeholder="name" required/>
					</mat-form-field>
					<mat-form-field>
						<mat-select placeholder="gender">
							<mat-option>--</mat-option>
							<mat-option>name</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field>
						<mat-select placeholder="city">
							<mat-option>--</mat-option>
							<mat-option>name</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field>
						<mat-select placeholder="lookupType">
							<mat-option>--</mat-option>
							<mat-option>name</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field>
						<textarea matInput placeholder="address 1"></textarea>
					</mat-form-field>
					<mat-form-field>
						<textarea matInput placeholder="address 2"></textarea>
					</mat-form-field>
					<br/>
					<button mat-raised-button color="primary" type="submit">
                    <span>save</span>                </button> 
          <button mat-raised-button type="button">
                    <span>cancel</span>                </button>

				</div>
			</form>
		</div>
	</div>
</mat-card> -->