/* .patient-vital mat-list {
    font-size: 10px;
} */

.content {
    font-size: 10px;
} 

.patient-vital {
    /* position: absolute; */
    top: 25px;
    left: 44px;
    border: 3px solid #3f51b5;
    padding: 10px;
    width: 50%;
    color: #f7b408;
}

.table-display-data {
    width: 100%;
    background-color: red;
  }

.display_res {
    margin: 3px;
    width: 100%;
}

td.mat-cell {
    padding: 0 10px;
}

.mt-10 {
    margin: 9px 0;
    color: #fff;
    background: #3f51b5;
}
