
    <div class="side-bar-sec">
        <ul>
            <li>
                <a routerLink='/dashboard'>Dashboard</a>
            </li>
            <mat-divider></mat-divider>
            <li>
                <a routerLink='/myprofile'>My Profile</a>
            </li>
            <mat-divider></mat-divider>
            <li>
                <a routerLink='/orders'>Orders</a>
            </li>
            <mat-divider></mat-divider>
            <li>
                <a routerLink='/patient-education'>patient-education</a>
            </li>
            <mat-divider></mat-divider>
            <li>
                <a routerLink='/patient-vitals'>patient-vitals</a>
            </li>
            <mat-divider></mat-divider>
            <li>
                <a routerLink='/schedule-appointment'>schedule-appointment</a>
            </li>
            <mat-divider></mat-divider>
            <li>
                <a routerLink='/medication-and-allergies'>medication-and-allergies</a>
            </li>
            <mat-divider></mat-divider>
            <li>
                <a routerLink='/immunization-details'>immunization-details</a>
            </li>
            <mat-divider></mat-divider>
            <li>
                <a routerLink='/demographics'>demographics</a>
            </li>
            <mat-divider></mat-divider>
            <li>
                <a routerLink='/appointment-history'>appointment-history</a>
            </li>
        </ul>
    </div>