
<div class="side-bar-sec">
    <ul>
        <li>
            <a [routerLink]="['./dashboard']">
                <i class="fa-solid fa-gauge" style="color:#4235f7" title="Dashboard" ></i><strong> Dashboard</strong>
            </a>
        </li>
        <li>
            <a [routerLink]="['./myprofile',patientId]"><i class="fa-solid fa-user"style="color:#4235f7" title="My Profile"></i><strong>My Profile</strong></a>
        </li>
        <!-- <li>
                <a [routerLink]="['./orders']">Orders</a>
                myprofile
            </li> -->
        <li>
            <a [routerLink]="['./patient-education']"><i class="fa-solid fa-building-columns" style="color:#4235f7" title="Patient Education"></i><strong>Patient Education</strong></a>
        </li>
        <li>
            <a [routerLink]="['./patient-vitals']"><i class="fa-solid fa-heart-pulse" style="color:#4235f7" title="Patient Vitals"></i><strong>Patient Vitals</strong></a>
        </li>
        <li>
            <a [routerLink]="['./schedule-appointment']"><i class="fa-solid fa-calendar-check" style="color:#4235f7" title="Schedule Appointment"></i><strong>Schedule Appointment</strong></a>
        </li>
        <li>
            <a [routerLink]="['./medication-and-allergies']"><i class="fa-solid fa-file-prescription" style="color:#4235f7" title="Medication & Allergies"></i><strong>Medication & Allergies</strong></a>
        </li>
        <li>
            <a [routerLink]="['./immunization-details']"><i class="fa-solid fa-syringe" style="color:#4235f7" title=" Immunization Details"></i><strong> Immunization Details </strong></a>
        </li>
        <li>
            <a [routerLink]="['./demographics',patientId]"><i class="fa-solid fa-chart-area" style="color:#4235f7" title="Demographics"></i><strong>Demographics</strong></a>
        </li>
        <li>
            <a [routerLink]="['./appointment-history']"><i class="fa-solid fa-clock-rotate-left" style="color:#4235f7" title="Appointment History"></i><strong>Appointment History</strong></a>
        </li>
    </ul>
</div>