.mainContainers{
    margin-left:0  !important;
    margin-right: 0 !important;
}


::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar::after {
          content: 'YES';
          font-size: 45%;
          font-weight: 700;
          color: black;
          position: absolute;
          left: 4px;
          top: -5px;
        }
      
::ng-deep .mat-slide-toggle :not(.mat-checked) .mat-slide-toggle-bar::after {
          
          content: 'NO';
          font-size: 45%;
          font-weight: 700;
          color: white;
          position: absolute;
          left: 21px;
          top: -5px;
        }
      
        ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
            background-color: rgb(6, 138, 57); /*replace with your color*/
        }
        
        ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
            background-color: rgb(113, 192, 144);  /*replace with your color*/
        }

        ::ng-deep .mat-slide-toggle:not(.mat-checked):not(.mat-disabled) .mat-slide-toggle-thumb {
            background-color: rgb(196, 11, 11);
          }

          ::ng-deep .mat-slide-toggle:not(.mat-checked):not(.mat-disabled) .mat-slide-toggle-bar {
            background-color: rgb(243, 114, 114);  /*replace with your color*/
        }