<!--<div class="control-section">
	<div class="col-lg-9 content-wrapper">
		<ejs-schedule #scheduleObj width='100%' height='550px' [selectedDate]="selectedDate" [group]="group"
			[eventSettings]="eventSettings"  (actionComplete)='onActionComplete($event)'>
			<e-resources>
				<e-resource field='TaskId' title='Category' [dataSource]='categoryDataSource'
					 name='Categories' textField='text' idField='id'
					groupIDField='groupId' colorField='color'>
				</e-resource>
			</e-resources>
			<e-views>
				<e-view option="TimelineDay"></e-view>
			</e-views>
		</ejs-schedule>
	</div>
</div>-->
<div class="container">

    <mat-card>
        <div class="d-flex justify-content-start pb-3">
         <button mat-raised-button color="primary" style="margin-right:10px" (click)="openDialog()" >Book
                Appointment</button>
        </div>
    
<ejs-schedule  #scheduleObj height="100vh" [currentView]="setView" [selectedDate]='selectedDate' [eventSettings]='eventSettings' ></ejs-schedule>
</mat-card>
</div>