.d-flex{
    display: flex;
    flex-direction: row;
}
.m-auto{
    margin:20px 50px;
}

.physician-container {
    display: flex;
    flex-direction: row;
}

.physician-sidebar {
  width: 25%;
}

.physician-dashboard {
    width: 75%;
}