.d-flex{
    display: flex;
    flex-direction: row;
}
.m-auto{
    margin:20px 50px;
}


.demo-inline-calendar-card {
    width: 300px;
    height: auto;
  }
  .btn{
    float: right;

  }
  
  .col-lg-6{
      margin-top: auto;
  }