<mat-toolbar class="header" color="primary">    
    <span class="p-20">Patient Portal</span>
    <span class="example-spacer"></span>


    <button mat-menu-item (click)="logOut()" class="logout">
      <i class="fa-solid fa-right-from-bracket"></i>
      <p>Logout</p>
      <!-- <mat-icon>power_settings_new</mat-icon> -->
     
    </button>
    <!-- <mat-form-field appearance="fill">
        <mat-label>Choose an option</mat-label>
        <mat-select [disabled]="disableSelect.value">
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field> -->
  </mat-toolbar>
