<mat-toolbar class="header" color="primary">
    <!-- <button class="toggleMenu btn" (click)="showMeFun()"><i class="fas fa-bars text-white"></i></button>  -->
    <span class="p-20">Patient Portal</span>
    
    <span class="example-spacer"></span>
    <div class="parent-logout">
        <!-- <div class="Welcome text-center"><i class="fa fa-user">
        </i>
        <br>Welcome: {{username}}</div> -->
        <div class="logout mr-2">
               <img src="../../../../assets/images/profile_icon.svg">
                <p><em>Welcome: {{username}}</em></p>
        </div>
        <div class="logout mr-2">
                
            <a href="tel:9035416239">

                <i class="fas fa-clinic-medical fa-solid "></i>

                <p>Emergancy</p>

            </a>

        </div>

        <button mat-menu-item (click)="logOut()" class="logout">

           <i class="fas fa-sign-out-alt fa-solid"></i>

            <p>Logout</p>

            <!-- <mat-icon>power_settings_new</mat-icon> -->



        </button>

    </div>
    <!-- <mat-form-field appearance="fill">
        <mat-label>Choose an option</mat-label>
        <mat-select [disabled]="disableSelect.value">
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field> -->
</mat-toolbar>